asgiref==3.2.7
Django==3.0.6
django-js-asset==1.2.2
django-mptt==0.11.0
factory-boy==2.12.0
Faker==4.1.0
FeinCMS==1.18.0
Pillow==7.1.2
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
text-unidecode==1.3
